nav#formula-nav {
    padding: 2%;
}


.container-fluid    {
    padding: 0px;
    overflow-x:hidden;
}

div#next-race   {
    border:1px solid black;
    padding-top:10%;
    padding-bottom:10%;
}

table   {
    font-family:'Cairo', sans-serif;

}

nav a   {
    font-family:  'Montserrat', sans-serif;
    text-decoration: none;
}

footer  {
    font-family: 'Montserrat';
}

div#lap-time    {
    padding: 2%;
}

div#qualy-diff  {
    padding: 2%;
}

canvas  {
    height:500px !important;
    width:900px !important;
    margin: auto;
}