{% include 'header.html' %}
    <div class="row">
                <h4 class="text-center">Last Race: {{races.Race_Name}}</h4>
                <div class="container-fluid">
                        <!-- Nav tabs -->

                        <ul class="nav nav-tabs justify-content-center">
                          <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#results">Results</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#lap-time">Lap Time Comparisons</a>
                          </li>

                          <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#qualy-diff">Qualifying Comparisons</a>
                          </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                          <div class="tab-pane container active" id="results">
                              <table class="table">
                                  <thead>
                                    <tr>
                                        <th>Position</th>
                                        <th>Driver</th>
                                        <th>Team</th>
                                        <th>Points</th>
                                        <th>Status</th>
                                    </tr>
                                  </thead>
                                    <tbody>
                                        {% for index,row in races.Results.iterrows() %}
                                            <tr>
                                                <td>{{row.Position}}</td>
                                                <td>{{row.Name}}</td>
                                                <td>{{row.Team}}</td>
                                                <td>{{row.Points}}</td>
                                                <td>{% if row.Position=='\\N' %}
                                                        DNF
                                                    {% else %}
                                                        Finished
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                              </table>
                          </div>
                          <div class="tab-pane container fade" id="lap-time">
                              <div class="col-12">

                              <canvas id="myChart" width="400" height="400"></canvas>
                            </div>
                          </div>
                            <div class="tab-pane container fade" id="qualy-diff">
                            <div class="col-12">
                                 <canvas id="qualyChart" width="400" height="400"></canvas>

                            </div>
                            </div>
                        </div>
                    <table>

                    </table>
                </div>
            </div>
        </div>


        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
        <script>
        /*
            $(function () {
            $('#nav-tabContent li:last-child a').tab('show')
            })
            $('#someTab').tab('show')
        */
        </script>
        <script>
              var dataset = [];
              {% for data in races.Lap_Data.data %}
                var data = {
                    label:'{{data.label}}',
                    data:{{data.data}},
                    borderColor: '{{data.borderColor}}',
                    fill:false
                }
                dataset.push(data);
              {% endfor %}

              new Chart(document.getElementById("myChart"), {
                  type: 'line',
                  data: {
                    labels: {{races.Lap_Data.label}},
                    datasets: dataset
                  },
                  options: {
                    title: {
                      display: true,
                      text: 'Lap Time Comparisons'
                    },
                    hover: {
                     mode: 'index',
                     intersect: true
                    },
                  }
                });
        </script>
        <script>
            var sc_dataset = [];
            var sc_labels = [];
            {% for qualy_data in races.Qualy_Diff %}
            var data = {
                x:'{{qualy_data.x}}',
                y:'{{qualy_data.y[0]}}'
            }
            sc_labels.push('{{qualy_data.x}}');
            sc_dataset.push({{qualy_data.y[0]}});

            {% endfor %}
            console.log(sc_dataset);
            console.log(sc_labels);
            const plot_data = {
                labels: sc_labels,
                datasets: [{
                    label: 'Qualifying Plot',
                    data: sc_dataset,
                    backgroundColor: [
                          'rgba(119, 16, 78, 0.5)',
                          'rgba(62, 203, 153, 0.5)',
                          'rgba(0, 49, 77, 0.5)',
                          'rgba(24, 25, 251, 0.5)',
                          'rgba(226, 232, 204, 0.5)',
                          'rgba(216, 84, 216, 0.5)',
                          'rgba(66, 77, 211, 0.5)',
                          'rgba(184, 185, 2, 0.5)',
                          'rgba(110, 237, 153, 0.5)',
                          'rgba(244, 156, 219, 0.5)'
                        ],
                        borderColor: [
                          'rgb(119, 16, 78)',
                          'rgb(62, 203, 153)',
                          'rgb(0, 49, 77)',
                          'rgb(24, 25, 251)',
                          'rgb(226, 232, 204)',
                          'rgb(216, 84, 216)',
                          'rgb(66, 77, 211)',
                          'rgb(184, 185, 2)',
                          'rgb(110, 237, 153)',
                          'rgb(244, 156, 219)'
                        ],
                        borderWidth: 1
                }],
            };
            var chart = new Chart(document.getElementById("qualyChart"), {
                  type: 'bar',
                  data: plot_data,


                }
            );

            chart.canvas.parentNode.style.height = '128px';
        </script>
    </body>
</html>